.container{
    width: 700px;
    margin: 15px auto;
    background-color: rgb(172, 171, 171);
    display: flex;
    padding: 15px;
}

.poster{
    max-width: 269px;
    max-height: 369px;
}

.info{
    padding: 20px;
    flex-grow: 1;
}