.container {
  width: 700px;
  margin: 15px auto;
  background-color: #4f83e4;
  display: flex;
  padding: 15px;
}
.poster {
  max-width: 269px;
  max-height: 369px;
}
.info {
  padding: 20px;
  flex-grow: 1;
}
.stars span {
  color: #b3b3b3;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}
.stars .filled {
  color: black;
}
